main {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  .content {
    width: 90%;
    display: flex;
    max-width: 600px;
    margin-top: 150px;
    flex-direction: column;
    .title {margin: 0;}
    .text {
      color: #504e4e;
    }

    .container_search {
      gap: 10px;
      height: 44px;
      display: flex;
      justify-content: flex-start;
      input {
        border: none;
        flex: 1 0 auto;
        color: #ffffff;
        border-radius: 7px;
        padding-left: 15px;
        background-color: #263238;
        &::placeholder {
          color: #ffffff;
        }
      }


      .button_search {
        gap: 5px;
        border: none;
        width: 146px;
        display: flex;
        color: white;
        border-radius: 7px;
        align-items: center;
        background-size: 17px;
        justify-content: center;
        background-color: #263238;
        background-repeat: no-repeat;
      }
    }
    .card {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      max-width: 530px;
      border-radius: 5px;
      margin: 20px auto 0px;
      flex-direction: column;
      align-items: flex-start;
      background-color: #fff;
      box-shadow: 0px 0px 12px -5px #00000026;
      .item {
        width: 95%;
        display: flex;
        font-size: 16px;
        color: #606060;
        margin: 10px auto;
        align-items: center;
        justify-content: space-between;
        span {
        font-size: 14px;
        font-weight: 400;
        }
      }
    }
  }


}
